/* Change amount */

/* Page List */
.change-amount {
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
}

.change-amount span {
    width: 2em;
    font-size: .8em;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.minus {
    background-image: url('../img/minus.svg');
    transition: background-image .2s ease-in-out;
}

.minus:active {
    background-image: url('../img/minus-white.svg');
}

.plus {
    background-image: url('../img/plus.svg');
    transition: background-image .2s ease-in-out;
}

.plus:active {
    background-image: url('../img/plus-green.svg');
    filter: brightness(83%);
}

.plus--active {
    background-image: url('../img/plus-green.svg');
}

/* Page Create Items */
.change-amount-items {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.change-amount-items span {
    width: 2em;
    font-size: 1.5em;
    text-align: center;
    color: #054265;
    background-color: rgb(255, 255, 255);
    border: none;
}

.minus-items {
    background-image: url('../img/minus-blue.svg');
}

.plus-items {
    background-image: url('../img/plus-blue.svg');
}

.change-amount-shop {
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 100%;
}

.change-amount-shop span {
    width: 100%;
    height: 100%;
}